/*--###############-- Global Styles START --###############--*/
body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/*​*/
.btn-blue {
    background: #4199ff;
    color: #FFFFFF;
}
a {
    color: #4199ff;
	font-weight: 500;
}
.text-link {
    color: #4199ff;
}
.alert-info {
    background: #f1f7ff;
    border: 1px solid #4199ff;
    color: #4199ff;
    border-radius: 5px 5px 5px 5px;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 15px;
    margin-bottom: 30px;
}
/*--###############-- Global Styles START --###############--*/
/*​*/
/*--###############-- Header Styles START --###############--*/
.navbar-brand {
    color: #fff;
    float: left;
    font-size: 24px;
    font-weight: 300;
    height: 50px;
    line-height: 20px;
    padding: 15px;
}
.navbar {
    margin-bottom: 50px;
}
header {
    background: url("../images/header-bg.jpg") no-repeat fixed #21272e;
    background-size: 100%; 
}
header .navbar-nav li a {
    color: #ffffff;
    font-size: 16px;
    text-shadow: none;
}
header .navbar-nav li a:hover {
    color: #ffa279;
}
header .navbar-nav li a:focus {
    color: #ffa279;
}
header .navbar-toggle .icon-bar {
    background: #FFFFFF;
}
/*​*/
header article {
    text-align: center;
}
header article .logo {
    height: 200px;
    width: auto;
}
header article h1 {
    color: #eff5ff;
    font-size: 30px;
}
header article p {
    color: #9fcbff;
    font-size: 25px;
    font-weight: 300;
}
header .call-to-action {
    position: relative;
    bottom: -50px;
}
header .call-to-action .row .col-md-5 {
    background: #f5af95 none repeat scroll 0 0;
    border-right: 1px solid #ffffff;
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    text-align: center;
}
header .call-to-action .row .col-md-5:last-child {
    border: none;
}
header .call-to-action .row .col-md-5 img {
    width: 60px;
}
header .call-to-action .row .col-md-5 p {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 300;
}
header .call-to-action .row .col-md-5 button {
    background: #FFFFFF;
    border: none;
    color: #4199ff;
    font-size: 15px;
    font-weight: 700;
}
/*--###############-- Header Styles END --###############--*/
/*​*/
/*--###############-- Main Styles  --###############--*/
main {
	text-align: left;
}
main .aboutus {
    padding-bottom: 30px;
    padding-top: 80px;
}
main .aboutus h2 {
    color: #21272e;
    font-size: 25px;
    font-weight: 700;
	text-align: center;
}
main .aboutus .container p {
    font-size: 22px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
}
main .aboutus .container .btn {
    font-size: 18px;
    font-weight: 400;
}
/*​*/
main .online {
    background: #f4f4f4 none repeat scroll 0 0;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    padding: 20px 0 40px;
}
main .online h2 {
    color: #21272e;
    font-size: 30px;
    font-weight: 700;
}
main .online p {
    color: #423939;
    font-size: 18px;
    font-weight: 400;
    padding: 0 0 20px;
}
/*​*/
main .workshops {
    background: #f4f4f4;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding: 20px 0px 40px;
}
main .workshops h2 {
    color: #21272e;
    font-size: 30px;
    font-weight: 700;
}
main .workshops p {
    color: #423939;
    font-size: 18px;
    font-weight: 400;
    padding: 0 0 20px;
}
main .workshops ul li {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    list-style: outside none none;
    margin: 20px 0 40px;
    position: relative;
}
main .workshops ul li .badge {
    background: #4199ff none repeat scroll 0 0;
    border-radius: 100px;
    left: -15px;
    padding: 7px 10px;
    position: absolute;
    top: -15px;
    font-weight: 700;
}
main .workshops ul li p {
    margin: 0;
    padding: 10px 20px;
}
/*​
​*/
main .workshops article img {
    max-width: 170px;
    height: auto;
    width: 100%;
}
main .workshops article p {
    color: #423939;
    font-size: 22px;
    font-weight: 400;
    padding: 10px 0px;
    margin: 0;
}
main .workshops article .text-link {
    font-size: 20px;
    font-weight: 700;
}
/*​*/
main .workshops {
    background: #ffffff;
    border-top: none;
    border-bottom: 1px solid #d3d3d3;
    padding: 20px 0px 40px;
}
main .workshops h2 {
    color: #21272e;
    font-size: 30px;
    font-weight: 700;
}
main .workshops p {
    color: #423939;
    font-size: 18px;
    font-weight: 400;
    padding: 0 0 20px;
}
main .workshops ul li {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    list-style: outside none none;
    margin: 20px 0 40px;
    position: relative;
}
main .workshop ul li {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    list-style: outside none none;
    margin: 20px 0 40px;
    position: relative;
}
main .workshops ul li .badge {
    background: #4199ff none repeat scroll 0 0;
    border-radius: 100px;
    left: -15px;
    padding: 7px 10px;
    position: absolute;
    top: -15px;
    font-weight: 700;
}
main .workshops ul li p {
    margin: 0;
    padding: 10px 20px;
}
/*​*/
main .sponsor {
	background: #f4f4f4 none repeat scroll 0 0;
	border-bottom: 1px solid #d3d3d3;
    padding-top: 30px;
}
main .sponsor section {
    background: url("../images/sponsor-bg.jpg") no-repeat center;
	background-size: 100%;
    border-left: 10px solid #54a1ff;
    border-radius: 5px;
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 30px;
}
main .sponsor section h1 {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
}
main .sponsor section p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
main .sponsor p {
    color: #423939;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    padding: 0 0 10px;
}
.events .well {
	background: #fdeee8  none repeat scroll 0 0;
    border: 1px solid #f5af95;
    border-radius: 5px;
    color: #4199ff;
    font-size: 14px;
    font-weight: 700;
	 margin-bottom: 30px;
    margin-top: 30px;
    padding: 10px 15px;
}
.events .well h2 {
	color: #2b333c;
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0 0 5px;
    padding: 0;
}
.events .well hr {
	border-color: #f5af95;
}
.events .well ul li p {
	font-size: 20px;
}
/*​
​*/
.coreteam {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) inset;
	background: #4199ff;
	color: #FFFFFF;
	padding-bottom: 40px;
}
.coreteam .btn-default {
	display: block;
}
.coreteam h2 {
	margin-top: 30px;
}
.coreteam p.pull-right {
	margin-top: 30px;
}
.coreteam hr {
	border-color: rgba(255, 255, 255, 0.4);
    margin: 25px 0 30px;
}
.coreteam ul {
	margin: 0;
	padding: 0 0 20px;
	overflow: hidden;
	background: rgba(255,255,255,0.1)
}
.coreteam ul li {
	float: left;
    list-style: outside none none;
    margin: 20px 2% 0;
    width: 29%;
}
/*​*/
/*--###############-- Main Styles END --###############--*/
/*​
​*/
/*--###############-- Footer Styles START --###############--*/
footer {
    background: #2b333c;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}
footer ul {
    padding: 0;
    margin: 0;
}
footer ul li {
    display: inline;
    margin: 0;
}
footer ul li a {
    color: #FFFFFF;
    padding: 0 20px;
/*​*/
}
footer .text-link {
    color: #ffa279;
    display: block;
    padding: 10px 0px;
}
footer section {
    background: #21272e;
}
footer section p {
    color: #FFFFFF;
    margin: 0;
    padding: 20px 0px;
    text-align: center;
}
/*--###############-- Main Styles END --###############--*/
/*​
​*/
/*--###############-- Responsive Styles START --###############--*/
/*​*/
/*-- Smallest devices (phones, 320px to 480px) --*/
@media (min-width: 320px) and (max-width: 480px) {
	header {
		background-size: auto 50%;
	}
	header article .logo {
		height: auto;
		width: 60%;
	}
	header article h1 {
		color: #eff5ff;
		font-size: 20px;
	}
	header .call-to-action .row .col-md-5 {
		border: none;
	}
	.coreteam p.pull-right {
		margin-top: 30px;
    	width: 100%;
	}
	.coreteam p.pull-right a {
		display: block;
	}
	.coreteam hr {
		margin: 0;
	}
	.coreteam ul li {
		font-size: 17px;
		margin: 10px 5%;
		width: 90%;
	}
	.coreteam ul li a {
		display: block;
	}
}
/*​*/
/*-- Smallest devices (phones, 320px to 480px) --*/
@media (min-width: 481px) and (max-width: 767px) {
/*​*/
	header {
		background-size: auto 50%;
	}
	header article .logo {
		height: auto;
		width: 60%;
	}
	header article h1 {
		color: #eff5ff;
		font-size: 20px;
	}
	header .call-to-action .row .col-md-5 {
		border: none;
	}
	.coreteam p.pull-right {
		margin-top: 30px;
    	width: 100%;
	}
	.coreteam p.pull-right a {
		display: block;
	}
	.coreteam hr {
		margin: 0;
	}
	.coreteam ul li {
		font-size: 17px;
		margin: 10px 5%;
		width: 90%;
	}
	.coreteam ul li a {
		display: block;
	}
}
/*​*/
/*-- Medium devices (desktops, 768px to 991px) --*/
@media (min-width: 768px) and (max-width: 991px) {}
/*​*/
/*-- Large devices (desktops, 992px to 1400px) --*/
@media (min-width: 992px) {
/*​*/
}
/*​*/
/*--###############-- Responsive Styles END --###############--*/
