
    <!-- Full Page Image Header Area -->

    <!-- /Full Page Image Header Area -->

<!--###############-- Header START --###############-->
    <header>
        <div class="container">

            <nav class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse pull-right" id="navbar">
                      <ul class="nav navbar-nav">
                        <li><a href="#abo">About</a></li>
                        <li><a href="#onl">Online</a></li>
                        <li><a href="#org">Organize</a></li>
                        <li><a href="#spn">Sponsor</a></li>
                        <li><a href="#evn">Events</a></li>
                        <li><a href="#cor">Team</a></li>
                        <li><a target="_blank" href="https://blog.golangbridge.org">Blog</a></li>
                      </ul>
                    </div><!--/.nav-collapse -->
                    <div class="clearfix"></div>
                </div><!-- container -->
            </nav><!-- navbar -->

            <article>
                <img class="logo" src="images/go-bridge-logo-transparent.png" />
                <h1>Building Bridges That Educate & <br /> Empower Underrepresented Communities</h1>
            </article>

            <section class="call-to-action">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <img src="images/group-icon.png" />
                        <p>Organize a workshop</p>
                        <button class="btn btn-default"><a href="#org">Learn More</a></button>
                    </div><!-- col-md-6 -->
                    <div class="col-md-5">
                        <img src="images/handshake-icon.png" />
                        <p>Become a sponsor</p>
                        <button class="btn btn-default"><a href="#spn">Sponsor Info</a></button>
                    </div><!-- col-md-6 -->
                </div><!-- row -->
            </section><!-- call-to-action -->
        </div><!-- container -->
    </header>
    <!--###############-- Header END --###############-->
